@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

body {
    background-image: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 150px;

    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    padding: 15px 30px;

}

.score-container img {
    height: 100px;
}

.score {
    border-radius: 10px;

    background-color: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 115px;
}

.score h5 {
    font-size: 15px;
    letter-spacing: 3px;
    color: hsl(229, 64%, 46%);
}

.score h2 {
    font-size: 60px;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}

.jogo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 0 80px;
    width: 480px;
    height: 480px;
}

.jogo>img {
    position: absolute;
    z-index: -1;
}

.btn-escolha {
    border-radius: 50%;
    padding: 22px;

    width: 200px;
    height: 200px;
    border: none;
    cursor: pointer;
}


#papel {
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: inset 0px -8px 0px hsl(230, 58%, 47%);
}

#tesoura {
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: inset 0px -8px 0px rgb(199, 113, 0);
}

#pedra {
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: inset 0px -8px 0px hsl(349, 65%, 37%);
}

.btn-escolha div {
    background-color: #eeecec;
    border-radius: 100%;
    width: 155px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.btn-escolha img {
    width: 65px;
}


.rules {
    border-radius: 10px;
    border: 2px solid hsl(217, 16%, 45%);
    color: #FFF;

    font-size: 15px;
    padding: 10px 40px;
    align-self: flex-end;
    letter-spacing: 2px;
    margin-right: 30px;
    font-weight: 600;

    background-color: transparent;
    cursor: pointer;
}

.triangulo-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: -1;
}

.triangulo-container img {
    margin-top: 60px;
}

.container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-height: 760px) {


    .jogo {
        width: 380px;
        height: 380px;
    }



    .btn-escolha {
        width: 150px;
        height: 150px;
    }

    .btn-escolha div {
        width: 105px;
        height: 105px;
    }

    .btn-escolha img {
        width: 45px;
    }

    
}